spring:
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/production_systems}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
  jackson:
    property-naming-strategy: SNAKE_CASE

server:
  port: ${SERVER_PORT:8080}

springdoc:
  api-docs:
    path: /api/docs
  swagger-ui:
    path: /api/swagger

management:
  endpoints:
    web:
      exposure:
        include: health,info

logging:
  level:
    root: INFO
